*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/* Raleway, heavy-900, bold-700, light-300 */
body{
    height: 500vh;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    /* background: linear-gradient( #f9f8fb 20%, #00afaf 20%  38%, #70bfff 38% 60%, #ffe92f 60% 70%, #ffffff  70% 80%, #b07cf7 80% 90%, black 90%); */
}
/* 'Pacifico', regular, 400 */
.logo{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

/* Stylizacja Nacbara */
.navbar li{
    margin-left: 20px;
}
.navbar li.active{
    border-top: 4px solid #ff6033;
    border-radius: 5%;
}
.navbar li a{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: black;
}


section{
    height: 90vh;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.container-fluid .row>header{
    height: 90vh;
    /* display: relative; */
    width: 100%;
    background-image: url("../img/img-11.png");
    background-position:center;
    background-size: cover;
}

.container-fluid .row>header h1{
    font-weight: 900;
    font-size: 50px;
}
.container-fluid .row>header p{
    line-height: 170%;
}

.btn{
    text-transform: uppercase;    
    border-radius: 0;
    background-color: #ff6033;
}
.info{
    background-color: #00afaf;
}

.info img{
    width: 50%;
    height: auto;
}

.info h2{
    font-weight: 700;
    font-size: 55px;
    color: white;
    display: inline-block;
}

.info p{
    font-size: 16px;
    color: white;
    display: inline-block;
    line-height: 170%;
}

.services{
    background-color: #70bfff;
}
/* .services>.row>div{
    align-self: center;
} */

.services div div.serv-item{
    border: 1px solid gray;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    font-size: 16px;
    height: auto;
    position: relative;
    height: 60px;
    /* align-self: center; */
}

.services div div.serv-item span{
    font-weight: 700;
    height: auto;
    text-align: center;
    width: 90%;
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);

}

.services i{
    font-size: 28px;
    width: 10%;
    display: block;
    position: absolute;
    right: 2.5%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.services h2{
    font-size: 65px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 50%;
    left:75%;
    transform: translate(-50%, -50%);
    z-index: 100;
    
}
@media(max-width:1200px){
    .services h2{
        font-size: 50px;
    }
    .services i{
        font-size: 22px;
    }
    .services span{
        font-size: 15px;
    }
}

@media(max-width:950px){
    .info h2{
        font-size: 45px;
    }
    .info p{
        font-size: 15px;
    }
}
@media(max-width:767px){
    .container-fluid .row>header h1{
        font-size: 38px;
    }
    .container-fluid .row>header p{
        font-size: 15px;
    }
    .btn{
        font-size: 15px
    }
    .info h2{
        font-size: 35px;
    }
    .info p{
        font-size: 14px;
    }
    
    .services h2{
        font-size: 40px;
        order:1;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    .services img{
        order:2;
        
    }
    .services .row>div{
        order:3;
    }
    .services i{
        font-size: 22px;
    }
    .services span{
        font-size: 15px;
    }
}
